body {
  overflow-x: hidden;
}

.App {
  text-align: center;
  background: url(./assets/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.App > * {
  z-index: 2;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 100px 200px;
  border-color: transparent transparent transparent #93c0f0;  
  position: absolute;
  z-index: 1 !important;
  opacity: .3;
}

.leftside {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 200px 100px 0;
  border-color: transparent #93c0f0 transparent transparent;
  right: 0;
  transform: scale(1.5);
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  font-weight: 800;
  opacity: .6;
  transition: .4s;
}
.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  padding: 20px;
  background: yellow;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(241,238,101,1) 0%, rgb(250, 190, 11) 100%);
}
form {
  width: 100vw;
}
form input {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    padding: 10px 28px;
    color: #777;
    margin: 3rem 0;
}
.todoItem form input {
  width: 142px;
  height: auto;
  font-size: 20px;
  padding: 0px;
  color: #777;
  margin: 0;
}
input[type="checkbox"] {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.todoItem svg {
  cursor: pointer;
  transition: .5s;
}
.todoItem svg:hover {
  transform: scale(1.2);
}

